@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: lightblue; */
    /* background: linear-gradient(135deg, #d6d6f1, #9ed9ec); */
    /* background: linear-gradient(135deg, #e4e4e4, #e1d0c8); */
    /* background: linear-gradient(161deg, #e4e4e4 50%, #e1d0c8 50%); */
    /* background: linear-gradient(161deg, #002a3a 50%, #2a2b33 50%); */
    background: linear-gradient(161deg, #74a1b3 50%, #626579 50%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .letter-container {
        font-family: 'Inter', sans-serif;
        font-size: 13px;
        min-height: 600px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .letter-container {
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        min-height: 600px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .letter-container {
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        min-height: 900px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .letter-container {
        font-family: 'Inter', sans-serif;
        font-size: 17px;
        min-height: 900px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .letter-container {
        font-family: 'Inter', sans-serif;
        font-size: 17px;
        min-height: 900px;
    }
}

.tooltip {
    border: 1px solid #0000008f;
    background-color: #0000008f;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    color: white;
}

.tooltip > p {
    margin: 5px;
    text-transform: capitalize;
}

.letter-container {
    border: 1px solid #e9f6ff;
    background-color: #ffffff;
    color: #2c3345;
    margin: 10px;
    width: 100%;
    max-width: 700px;
    min-height: 600px;
}

.letter-header {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5px;
}

.letter-header h1 {
    margin: 10px 0px 2px 0px;
}

.letter-header p {
    margin: 2px 0px 2px 2px;
    font-size: 0.65em;
}

.letter-icon {
    width: 32px;
    margin: -2px 10px;
}

.letter-body {
    margin: 64px 25px 40px 25px;
    text-align: left;
}

.letter-stats {
    text-align: left;
    padding-left: 4%;
}

.label-small {
    font-size: 0.75em;
}

.letter-form {
    text-align: left;
    padding: 5px 0px;
}

.letter-input {
    width: 98%;
    box-sizing: border-box;
    padding: 4%;
    padding-top: 2px;
    margin: auto;
}

.letter-input p {
    /* border: 2px solid blue; */
}

.letter-input input {
    max-width: 400px;
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    padding: 0px 10px;
    box-sizing: border-box;
}

.letter-input sup {
    color: #f43a8c;
}

.input-focused {
    border: 1px solid #cfd9f1;
    border-radius: 5px;
    background-color: #f1f5ff;
}

.input-focused input {
    border-color: #2e69ff;
    box-shadow: #c9d8fe 0px 0px 15px;
}

.input-error {
    border: 1px solid #ffeded;
    border-radius: 5px;
    background-color: #ffeded;
}

.input-error input {
    border-color: #f23a3c;
    box-shadow: #f23a3c 0px 0px 15px;
}

.error-message {
    color: #f23a3c;
    font-size: 0.7em;
}

.sign-container {
    width: 98%;
    box-sizing: border-box;
    padding: 4%;
    padding-top: 2px;
    margin: auto;
    text-align: left;
}

.sign-error {
    border: 1px solid #ffeded;
    border-radius: 5px;
    background-color: #ffeded;
}

.sign-focused:active {
    border: 1px solid #cfd9f1;
    border-radius: 5px;
    background-color: #f1f5ff;
}

.signCanvas {
    border: 1px solid gray;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 125px;
}

.signCanvasPlaceholder {
    border: 1px solid gray;
    background-color: white;
    background-image: url('sign-placeholder.PNG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    border-radius: 10px;
    width: 100%;
    height: 125px;
}

.sign-error .signCanvas,
.sign-error .signCanvasPlaceholder {
    border-color: #f23a3c;
    box-shadow: #f23a3c 0px 0px 15px;
}

.sign-focused .signCanvas:active,
.sign-focused .signCanvasPlaceholder:active {
    border-color: #2e69ff;
    box-shadow: #c9d8fe 0px 0px 15px;
}

.canvas-icon-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.canvas-icon {
    font-size: 2em;
    margin: 0.5em;
    color: #2567a0;
    cursor: pointer;
}

.canvas-icon:hover {
    color: #65a2d6;
}

.letter-submit {
    margin: 25px 0px;
}

.submit-btn {
    padding: 15px 40px;
    background-color: #2567a0;
    border: 1px solid #184e7c;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #498cc5;
    box-shadow: #498cc5 0px 0px 15px 0px;
}

.pdf-preview {
    text-align: center;
}

.letter-preview {
    text-align: left;
}

.letter-value-container {
    padding-left: 4%;
    margin-bottom: 4%;
}

.letter-field {
    font-weight: bold;
    padding-right: 4%;
    margin-bottom: 1%;
}

.letter-value {
    margin-top: 0px;
}

img.letter-value {
    max-width: 200px;
    max-height: 50px;
}
